@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <select class="form-select" name="city" onchange="myFunction(this)">
        <option value="">-Select City-</option>
        @foreach (var item in Model.Cities)
        {
            <option value="@item">@item</option>
        }
    </select>
    
    <h1 class="display-4" id="text">Welcome</h1>
</div>

<script type="text/javascript">
function myFunction(selectObject)
{
    var value = selectObject.value;
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        document.getElementById("text").textContent=value;
    };
    xhr.open('post', '/Index?handler=GetWeather&city=London');
    xhr.send();
}
</script>